<footer style="margin-top:80px">

    <div class="footer-category">

      <div class="container">

        <!-- <h2 class="footer-category-title">Brand directory</h2> -->

        <div class="footer-category-box">

          <h1 class="footer-category-title">
            ๐ฺฏุฑุฏูุจูุฏ|ุฏุณุชุจูุฏ|ฺฏูุดูุงุฑู๐
            
            ูพุฐุฑุด ุณูุงุฑุด ููู ูุฏู ุฒูุฑุงูุงุช ุจู ุณููู ุดูุง๐
            ูุฑูุด ุจู ุตูุฑุช ุงููุงู๐
            ุชูุฑุงู๐
            ุงุฑุณุงู ุจู ุณุฑุงุณุฑ ุงุฑุงู๐ฆโ๏ธ
            ฺฉูพ ููููุนโ๏ธ
          </h1>

         

        </div>

       

      

      </div>

    </div>

   

    <div class="footer-bottom">

      <div class="container">

       <h3 style="color:azure">  093611111111</h3>

        <p class="copyright">
          Copyright &copy;  <a href="https://www.instagram.com/ti.ti.handmade/" target="_blank" rel="noopener noreferrer"> ti.ti.handmade</a> all rights reserved.
        </p>

      </div>

    </div>

  </footer>